@import '~@angular/material/theming';
@import './styles';

@include mat-core();

$theme-primary: mat-palette($mat-indigo);
$theme-accent: mat-palette($mat-pink);
$theme-warn: mat-palette($mat-orange);
$theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

@include theme-color-grabber($theme);
